* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/*mixin*/
.header {
  background: url("../../images/bg-hero-desktop.svg");
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.btn__nav {
  background-color: hsl(193, 100%, 96%);
  padding: 1em 2em;
  border: none;
  border-radius: 50px;
  color: gray;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 0 2px white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 3em;
  flex: 1;
}

.btn__hero {
  background-color: hsl(322, 100%, 66%);
  padding: 1em 2em;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  height: 80vh;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 4em;
  padding: 20px 10px;
}

.footer__content__left--section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2em;
  line-height: 1.5em;
}

.footer__content--left, .footer__content--center, .footer__content--right {
  flex: 1;
}

.footer__content--left .footer-logo {
  filter: brightness(0);
  filter: invert(1);
}

.footer__content__left--section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  padding-top: 2em;
}

.footer__content--center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  line-height: 2;
}

.footer__content__center--section ul {
  list-style-type: none;
}

.footer__content__center--section ul li a {
  text-decoration: none;
  color: #fff;
  gap: 2em;
}

.footer__content__center--section ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer__content--right {
  line-height: 2;
}